@page "/admin"
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>New Store Administration</title>
        <link href = "~/lib/bootstrap/dist/css/bootstrap.min.css" rel = "stylesheet"></link>
        <base href = "/"></base>
    </head>
    <body>
        <component type = "typeof(Routed)" render-mode = "Server"></component>
        <script src = "/_framework/blazor.server.js"></script>
    </body>
</html>
