<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" href="/lib/bootstrap.min.css" />
      <link rel="stylesheet" href="/lib/fontello.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class = "container-fluid">
       
        @RenderBody()
    </div>
</body>
</html>
