@page


<h4 class = "bg-info text-white text-center p-2">AccesDenied</h4>

<div class = "m-2">
    <h6>You are not authorized</h6>
    <a class = "btn btn-outline-danger" href = "/">Ok</a>
      <a class = "btn btn-outline-warning" asp-page = "Logout">Logout</a>
</div>


